<% include 'layouts/partials/config' -%>
<% include 'layouts/partials/lib/h5bp' -%>
<% include 'layouts/partials/lib/mentha' -%>
<% include 'layouts/partials/lib/facebook' -%>
<% -%>
<% content 'h5bp_doctype_html_cc' -%>
<head<% content 'facebook_head_prefix' %>>
<% content 'h5bp_title_metas' -%>
<% content 'facebook_open_graph' -%>
<% content 'mentha_rss_link' -%>
<% content 'mentha_plugins_css' -%>
<% content 'h5bp_main_css' -%>
<% content 'h5bp_modernizr' -%>
</head>
<body>
<% content 'facebook_js_sdk' -%>
<% content -%>
<% content 'h5bp_jquery' -%>
<% content 'h5bp_plugins_js' -%>
<% content 'h5bp_main_js' -%>
<% content 'h5bp_google_analytics' -%>
</body>
</html>
