<% block 'config_site_name'                : %>Site<% end %>
<% block 'config_locale'                   : %>hu_HU<% end %>
<% block 'config_open_graph_image'         : %><% end %>
<% block 'config_facebook_app_id'          : %>113923355452243<% end %>
<% block 'config_google_analytics_site_id' : %>UA-XXXXX-X<% end %>
<% block 'config_h5bp_version'             : %>4.3.0<% end %>
<% block 'config_modernizr_version'        : %>2.6.2<% end %>
<% block 'config_jquery_version'           : %>1.11.1<% end %>
<% block 'config_addthis_pubid'            : %><% end %>
