<!-- <script src="components/jquery-placeholder-2.0.7/loaders/placeholder.js"></script> -->
<!-- <script src="components/selectivizr-1.0.2/loaders/lastchild.js"></script> -->
<!-- <script src="components/selectivizr-1.0.2/loaders/nthchild.js"></script> -->

<script src="components/fitvids/jquery.fitvids.js"></script>

<!-- foundation scripts -->
<script src="components/foundation/js/foundation.core.js"></script>
<!-- <script src="components/foundation/js/foundation.abide.js"></script> -->
<!-- <script src="components/foundation/js/foundation.accordion.js"></script> -->
<!-- <script src="components/foundation/js/foundation.accordionMenu.js"></script> -->
 <!-- <script src="components/foundation/js/foundation.drilldown.js"></script> -->
<!-- <script src="components/foundation/js/foundation.dropdown.js"></script> -->
<!-- <script src="components/foundation/js/foundation.dropdownMenu.js"></script> -->
<!-- <script src="components/foundation/js/foundation.equalizer.js"></script> -->
<!-- <script src="components/foundation/js/foundation.interchange.js"></script> -->
<!-- <script src="components/foundation/js/foundation.magellan.js"></script> -->
<!-- <script src="components/foundation/js/foundation.offcanvas.js"></script> -->
<!-- <script src="components/foundation/js/foundation.orbit.js"></script> -->
<!-- <script src="components/foundation/js/foundation.responsiveMenu.js"></script> -->
<!-- <script src="components/foundation/js/foundation.responsiveToggle.js"></script> -->
<!-- <script src="components/foundation/js/foundation.reveal.js"></script> -->
<!-- <script src="components/foundation/js/foundation.slider.js"></script> -->
<!-- <script src="components/foundation/js/foundation.sticky.js"></script> -->
<!-- <script src="components/foundation/js/foundation.tabs.js"></script> -->
<!-- <script src="components/foundation/js/foundation.toggler.js"></script> -->
<!-- <script src="components/foundation/js/foundation.tooltip.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.box.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.keyboard.js"></script> -->
<script src="components/foundation/js/foundation.util.mediaQuery.js"></script>
<!-- <script src="components/foundation/js/foundation.util.motion.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.nest.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.timerAndImageLoader.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.touch.js"></script> -->
<!-- <script src="components/foundation/js/foundation.util.triggers.js"></script> -->
