// built on foundation button component
// import needed in main.scss

// btn colors
$color-btn-txt: #fff;
$color-btn-bg: #666;
$color-btn-bg-hover: none;
$color-btn-bg-hover-lightness: 10%;

// btn properties
$btn-font-family: font(btn);
$btn-radius: 4px;
$btn-txt-uppercase: true;
$btn-shadow: true;

// btn transitions
$btn-transition-duration: $default-transition-duration / 2;
$btn-transition-properties: background-color;
$btn-transition-timing-function: $default-transition-timing-function;

// shadows

%shadow-btn-depth-01 {
    box-shadow: 0 0 2px rgba(0,0,0,.22),0 2px 4px rgba(0,0,0,.33);
}

%shadow-btn-depth-02 {
    box-shadow: 0 0 3px rgba(0,0,0,.23),0 3px 6px rgba(0,0,0,.36);
}


// btn defaults

.btn {
    @include button($padding: false, $bg: false, $radius: $btn-radius);

    @if ($btn-shadow) {
        @include set-transitions($btn-transition-properties + ', box-shadow');

        @extend %shadow-btn-depth-01;
    } @else {
        @include set-transitions($btn-transition-properties);
    }

    padding: 1rem 2rem 0.9rem;
    margin: 0;
    font-family: $btn-font-family;
    font-size: 1rem;
    color: $color-btn-txt !important;
    background-color: $color-btn-bg;

    @if ($btn-txt-uppercase) {
        text-transform: uppercase;
    }

    &:hover {
        text-decoration: none;

        @if ($color-btn-bg-hover != none) and ($color-btn-bg-hover != false) {
            background-color: $color-btn-bg-hover;
        } @else {
            background-color: scale-color($color-btn-bg, $lightness: $color-btn-bg-hover-lightness);
        }

        @if ($btn-shadow) {
            @extend %shadow-btn-depth-02;
        }
    }
}


// btn modifiers

.btn--fullWidth {
    width: 100%;
}

.btn--thin {
    padding: 0.5rem 1rem 0.4rem;
}
