$list-divider-color: color(divider);
$list-item-bg: #fff;

@mixin vertical-list-gutter ($list-gutter: gutter(small)) {
    padding: $list-gutter 0;

    &:first-child {
        padding-top: 0;
    }

    &:last-child {
        padding-bottom: 0;
    }
}

.list {
    @include reset-list;

    > li {
        @include vertical-list-gutter;
    }
}

/*
.list--dividedItems {
    > li {
        border-bottom: solid 1px $list-divider-color;

        &:last-child {
            border-bottom: 0;
        }
    }
}
*/
