// nav properties
$responsiveMenu-breakpoint: 800px;
$responsiveMenu-maxLevel: 3; // min 1, max 3
$responsiveMenu-align: none; // set to none or false to set full width. remember: if set left or right, it becomes floated, the container needed clearfix
$responsiveMenu-font: font(menu);

// root
    //colors
    $responsiveMenu-root-bg: #222;
    $responsiveMenu-root-color: #bbb;
    $responsiveMenu-root-bg-hover: #444;
    $responsiveMenu-root-color-hover: #fff;

    //properties
    $responsiveMenu-root-padding: 10px 30px 10px 30px;
    $responsiveMenu-root-fullWidth: true; // it works when $responsiveMenu-align is full width
    $responsiveMenu-root-fontSize: rem-calc(18);
    $responsiveMenu-root-fontWight: font-weight(bold);
    $responsiveMenu-root-text-align: right; // it works when $responsiveMenu-root-fullWidth is true
    $responsiveMenu-root-hamburger: false; // set true if needed and write set-icon-hamburger mixin
    $responsiveMenu-root-uppercase: true;

// submenus
$responsiveMenu-fontWight: font-weight(normal);
$responsiveMenu-divider: solid 1px color(divider); // set none or false to disable
$responsiveMenu-uppercase: true;

// level 01
    // colors
    $responsiveMenu-level01-bg: #ddd;
    $responsiveMenu-level01-color: #222;
    $responsiveMenu-level01-bg-hover: #eee;
    $responsiveMenu-level01-color-hover: #333;
    $responsiveMenu-level01-bg-transparent-desktop: false;

    // properties
    $responsiveMenu-mobileOverlay: true; // submenus inherit this
    $responsiveMenu-mobileOverlay-fullWidth: true; // it works when $responsiveMenu-mobileOverlay is true
    $responsiveMenu-level01-align-desktop: left;
    $responsiveMenu-level01-itemPadding-mobile: 15px 10px;
    $responsiveMenu-level01-itemPadding-desktop: 15px 20px;
    $responsiveMenu-level01-fontSize-mobile: rem-calc(16);
    $responsiveMenu-level01-fontSize-desktop: rem-calc(14);

// level 02
    // colors
    $responsiveMenu-level02-bg: #aaa;
    $responsiveMenu-level02-color: #222;
    $responsiveMenu-level02-bg-hover: #bbb;
    $responsiveMenu-level02-color-hover: #444;

    // properties
    $responsiveMenu-level02-itemPadding-mobile: 15px 10px 15px 20px;
    $responsiveMenu-level02-itemPadding-desktop: 10px 30px;
    $responsiveMenu-level02-fontSize-mobile: rem-calc(16);
    $responsiveMenu-level02-fontSize-desktop: rem-calc(14);

// level 03
    // colors
    $responsiveMenu-level03-bg: #888;
    $responsiveMenu-level03-color: #ddd;
    $responsiveMenu-level03-bg-hover: #999;
    $responsiveMenu-level03-color-hover: #fff;

    // properties
    $responsiveMenu-level03-itemPadding-mobile: 15px 10px 15px 30px;
    $responsiveMenu-level03-itemPadding-desktop: 5px 10px;
    $responsiveMenu-level03-fontSize-mobile: rem-calc(16);
    $responsiveMenu-level03-fontSize-desktop: rem-calc(14);

// setting icon hamburger
@mixin set-icon-hamburger {
    @include icon-insert(icon-menu);

    > span {
        display: none;
    }
}


// mixins
@mixin set-responsiveMenu-level-colors ($bg, $color, $bg-hover, $color-hover) {
    > li {
        background-color: $bg;

        &:hover {
            background-color: $bg-hover;
        }

        > a {
            color: $color;

            &:hover {
                color: $color-hover;
            }
        }
    }
}

@mixin set-responsiveMenu-level-properties ($item-padding, $item-font-size) {
    > li {
        font-size: $item-font-size;

        @if ($responsiveMenu-divider != none) and ($responsiveMenu-divider != false) {
            border-bottom: $responsiveMenu-divider;

            &:last-child {
                border-bottom: 0;
            }
        }

        > a {
            padding: $item-padding;
        }
    }
}

.responsiveMenu {
    @include clearfix;

    position: relative;
    font-family: $responsiveMenu-font;
    font-weight: $responsiveMenu-fontWight;

    @if ($responsiveMenu-align == left) {
        float: left;
    }

    @if ($responsiveMenu-align == right) {
        float: right;
    }

    a {
        text-decoration: none;
    }

    ul {
        @extend %reset-list;

        display: none;
        line-height: 1.2;

        @if $responsiveMenu-uppercase {
            text-transform: uppercase;
        }

        li {
            white-space: nowrap;
        }

        a {
            display: block;
        }
    }
}

.responsiveMenu-root {
    cursor: pointer;
    padding: $responsiveMenu-root-padding;
    color: $responsiveMenu-root-color;
    font-size: $responsiveMenu-root-fontSize;
    font-weight: $responsiveMenu-root-fontWight;
    text-align: $responsiveMenu-root-text-align;
    background-color: $responsiveMenu-root-bg;

    @if $responsiveMenu-root-uppercase {
        text-transform: uppercase;
    }

    @if $responsiveMenu-root-fullWidth {
        display: block;
    } @else {
        display: inline-block;
    }

    @if $responsiveMenu-root-hamburger {
        @include set-icon-hamburger;
    }

    &:hover {
        color: $responsiveMenu-root-color-hover;
        background-color: $responsiveMenu-root-bg-hover;
    }
}

// fomratting menu levels specifics
.responsiveMenu-level01 {
    @include clearfix;
    @include set-responsiveMenu-level-colors($responsiveMenu-level01-bg, $responsiveMenu-level01-color, $responsiveMenu-level01-bg-hover, $responsiveMenu-level01-color-hover);
    @include set-responsiveMenu-level-properties($responsiveMenu-level01-itemPadding-mobile, $responsiveMenu-level01-fontSize-mobile);

    @if $responsiveMenu-mobileOverlay {
        position: absolute;

        @if $responsiveMenu-mobileOverlay-fullWidth {
            width: 100%;
        }

        @if ($responsiveMenu-align == right) {
            right: 0;
        }
    }
}

@if $responsiveMenu-maxLevel > 1 {
    .responsiveMenu-level02 {
        @include set-responsiveMenu-level-colors($responsiveMenu-level02-bg, $responsiveMenu-level02-color, $responsiveMenu-level02-bg-hover, $responsiveMenu-level02-color-hover);
        @include set-responsiveMenu-level-properties($responsiveMenu-level02-itemPadding-mobile, $responsiveMenu-level02-fontSize-mobile);
    }
}

@if $responsiveMenu-maxLevel > 2 {
    .responsiveMenu-level03 {
        @include set-responsiveMenu-level-colors($responsiveMenu-level03-bg, $responsiveMenu-level03-color, $responsiveMenu-level03-bg-hover, $responsiveMenu-level03-color-hover);
        @include set-responsiveMenu-level-properties($responsiveMenu-level03-itemPadding-mobile, $responsiveMenu-level03-fontSize-mobile);
    }
}


// set desktop view properties
@mixin set-desktop-menu-view {
    .responsiveMenu-level01 {
        @include set-responsiveMenu-level-properties($responsiveMenu-level01-itemPadding-desktop, $responsiveMenu-level01-fontSize-desktop);

        position: relative;
        display: block;

        @if ($responsiveMenu-level01-align-desktop == center) {
            text-align: center;
        }

        @if ($responsiveMenu-level01-align-desktop == right) {
            text-align: right;
        }

        > li {
            @if $responsiveMenu-level01-bg-transparent-desktop {
                background-color: transparent;
            }

            border-bottom: none;

            @if ($responsiveMenu-level01-align-desktop == left) {
                float: left;
            }

            @if ($responsiveMenu-level01-align-desktop == center) or ($responsiveMenu-level01-align-desktop == right) {
                display: inline-block;
                margin-right: -5px; // remove space between inline-block elements
            }

            ul {
                position: absolute;
            }
        }
    }

    @if $responsiveMenu-maxLevel > 1 {
        .responsiveMenu-level02 {
            @include set-responsiveMenu-level-properties($responsiveMenu-level02-itemPadding-desktop, $responsiveMenu-level02-fontSize-desktop);

            > li {
                position: relative;

            }
        }
    }

    @if $responsiveMenu-maxLevel > 2 {
        .responsiveMenu-level03 {
            @include set-responsiveMenu-level-properties($responsiveMenu-level03-itemPadding-desktop, $responsiveMenu-level03-fontSize-desktop);

            top: 0;
            left: 100%;
        }
    }
}


@media #{$screen} and (min-width: $responsiveMenu-breakpoint) {
    .responsiveMenu-root {
        display: none;
    }

    .responsiveMenu {
        @include set-desktop-menu-view;
    }
}
