@charset "UTF-8";

@import "../shared/lib/definitions";
@import "lib/definitions";

@import '../../components/foundation/scss/global.scss';


// foundation css library
@import '../../components/foundation/scss/grid/grid.scss';
// @import '../../components/foundation/scss/typography/typography.scss';
// @import '../../components/foundation/scss/forms/forms.scss';
@import '../../components/foundation/scss/components/visibility.scss';
// @import '../../components/foundation/scss/components/float.scss';
// @import '../../components/foundation/scss/components/button.scss';
// @import '../../components/foundation/scss/components/button-group.scss';
// @import '../../components/foundation/scss/components/accordion-menu.scss';
// @import '../../components/foundation/scss/components/accordion.scss';
// @import '../../components/foundation/scss/components/badge.scss';
// @import '../../components/foundation/scss/components/breadcrumbs.scss';
// @import '../../components/foundation/scss/components/callout.scss';
// @import '../../components/foundation/scss/components/close-button.scss';
// @import '../../components/foundation/scss/components/drilldown.scss';
// @import '../../components/foundation/scss/components/dropdown-menu.scss';
// @import '../../components/foundation/scss/components/dropdown.scss';
// @import '../../components/foundation/scss/components/flex-video.scss';
// @import '../../components/foundation/scss/components/label.scss';
// @import '../../components/foundation/scss/components/media-object.scss';
// @import '../../components/foundation/scss/components/menu.scss';
// @import '../../components/foundation/scss/components/off-canvas.scss';
// @import '../../components/foundation/scss/components/orbit.scss';
// @import '../../components/foundation/scss/components/pagination.scss';
// @import '../../components/foundation/scss/components/progress-bar.scss';
// @import '../../components/foundation/scss/components/reveal.scss';
// @import '../../components/foundation/scss/components/slider.scss';
// @import '../../components/foundation/scss/components/sticky.scss';
// @import '../../components/foundation/scss/components/switch.scss';
// @import '../../components/foundation/scss/components/table.scss';
// @import '../../components/foundation/scss/components/tabs.scss';
// @import '../../components/foundation/scss/components/title-bar.scss';
// @import '../../components/foundation/scss/components/top-bar.scss';
// @import '../../components/foundation/scss/components/thumbnail.scss';
// @import '../../components/foundation/scss/components/tooltip.scss';


// uncomment needed components
@include foundation-global-styles;
@include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-typography;
// @include foundation-button;
// @include foundation-forms;
@include foundation-visibility-classes;
// @include foundation-float-classes;
// @include foundation-accordion;
// @include foundation-accordion-menu;
// @include foundation-badge;
// @include foundation-breadcrumbs;
// @include foundation-button-group;
// @include foundation-callout;
// @include foundation-close-button;
// @include foundation-drilldown-menu;
// @include foundation-dropdown;
// @include foundation-dropdown-menu;
// @include foundation-flex-video;
// @include foundation-label;
// @include foundation-media-object;
 // @include foundation-menu;
// @include foundation-off-canvas;
// @include foundation-orbit;
// @include foundation-pagination;
// @include foundation-progress-bar;
// @include foundation-slider;
// @include foundation-sticky;
// @include foundation-reveal;
// @include foundation-switch;
// @include foundation-table;
// @include foundation-tabs;
// @include foundation-thumbnail;
// @include foundation-title-bar;
// @include foundation-tooltip;
// @include foundation-top-bar;


// plugins

// H5BP normalize.css: https://github.com/h5bp/html5-boilerplate/blob/master/doc/css.md#normalizecss
//@include h5bp-normalize;

// H5BP print styles: https://github.com/h5bp/html5-boilerplate/blob/master/doc/css.md#print-styles
// @include h5bp-media;

// Compass Twitter Bootstrap: https://github.com/vwall/compass-twitter-bootstrap#usage
// @import "../../components/compass_twitter_bootstrap-2.3.2/config";
// @import "compass_twitter_bootstrap";
// @import "compass_twitter_bootstrap_responsive";
// @import "compass_twitter_bootstrap_awesome";

// Iconic: http://www.somerandomdude.com/work/iconic/
// usage: @include iconic(lightbulb);
// @import "../../components/iconic-4af32d470e/fill/iconic_fill.scss";
// @import "../../components/iconic-4af32d470e/stroke/iconic_stroke.scss";

// variables

// sprites

// @import "frontend/sprites/*.png";

// placeholders and mixins
%shadow-depth-01 {
    box-shadow: 0 0 2px rgba(0,0,0,.22),0 2px 4px rgba(0,0,0,.33);
}

%shadow-depth-02 {
    box-shadow: 0 0 3px rgba(0,0,0,.23),0 3px 6px rgba(0,0,0,.36);
}

$default-transition-duration: 0.3s;
$default-transition-timing-function: cubic-bezier(.4,0,.2,1);
@mixin set-transitions ($css-properties...) {
    @include transition-property($css-properties);
    @include transition-duration($default-transition-duration);
    @include transition-timing-function($default-transition-timing-function);
}

// module imports
@import "main/base";
@import "main/layout";

// permanent predefined modules
@import "main/modules/wysiwygText";


// additional predefined modules


// modules

@import "main/state";

@import "../shared/lib/helpers";
@import "lib/helpers";

// helpers
