<% extend 'layouts/default_site' %>
<% block 'title' : %>Title<% end %>
<% %>
<div class="row">
    <div class="small-12 column">
    <!--
        <nav class="responsiveMenu">
            <a class="responsiveMenu-root" href="#"><span>Menü</span></a>
            <ul class="responsiveMenu-level01">
                <li><a href="#">item level 1.1</a></li>
                <li class="responsiveMenu-item--hasSubMenu">
                    <a href="javascript:void(0);">item level 1.2</a>
                    <ul class="responsiveMenu-level02">
                        <li class="responsiveMenu-item--hasSubMenu">
                            <a href="#">item level 2.1<br>in two llines</a>
                        </li>
                        <li class="responsiveMenu-item--hasSubMenu">
                            <a href="#">item level 2.2</a>
                        </li>
                        <li><a href="#">item level 2.3</a></li>
                    </ul>
                </li>
                <li><a href="#">item level 1.3</a></li>
                <li><a href="#">item level 1.4</a></li>
            </ul>
        </nav>
        -->
        <nav class="responsiveMenu">
            <a class="responsiveMenu-root" href="#"><span>Menü</span></a>
            <ul class="responsiveMenu-level01">
                <li><a href="#">item level 1.1</a></li>
                <li class="responsiveMenu-item--hasSubMenu">
                    <a href="javascript:void(0);">item level 1.2</a>
                    <ul class="responsiveMenu-level02">
                        <li class="responsiveMenu-item--hasSubMenu">
                            <a href="javascript:void(0);">item level 2.1<br>in two llines</a>
                            <ul class="responsiveMenu-level03">
                                <li><a href="#">item level 3.1</a></li>
                                <li><a href="#">item level 3.2<br>in ŰüŐtwo llines</a></li>
                                <li><a href="#">item level 3.3</a></li>
                                <li><a href="#">item level 34.</a></li>
                            </ul>
                        </li>
                        <li class="responsiveMenu-item--hasSubMenu">
                            <a href="javascript:void(0);">item level 2.2</a>
                            <ul class="responsiveMenu-level03">
                                <li><a href="#">item level 3.1</a></li>
                                <li><a href="#">item level 3.2</a></li>
                                <li><a href="#">item level 3.3</a></li>
                                <li><a href="#">item level 3.4</a></li>
                            </ul>
                        </li>
                        <li><a href="#">item level 2.3</a></li>
                    </ul>
                </li>
                <li><a href="#">item level 1.3</a></li>
                <li><a href="#">item level 1.4</a></li>
            </ul>
        </nav>
    </div>
</div>
<h1>base styles</h1>
<h1>Header 1</h1>
<h2>Header 2</h2>
<h3>Header 3</h3>
<h4>Header 4</h4>
<h5>Header 5</h5>
<h6>Header 6</h6>
<p>Lorem ipsum dolor sit amet, <a href="#">link</a> consectetur adipiscing elit. Pellentesque ornare aliquam ultrices. Praesent suscipit ultricies egestas. Vestibulum rutrum risus justo, ac blandit massa pulvinar tempor.</p>
<p>Duis mollis massa aliquam pretium vehicula. Praesent eget cursus lectus. Aliquam id lectus at tellus fermentum tristique quis non turpis. Nulla facilisi. Integer iaculis volutpat ligula at egestas. Ut imperdiet mauris adipiscing massa mattis, nec condimentum eros luctus. Ut eu justo molestie, posuere sem ac, porta est. Nullam malesuada diam nec metus faucibus laoreet. Ut adipiscing condimentum diam, ut placerat augue lobortis et. Phasellus in magna non dui mollis ultricies nec a tortor.</p>
<hr>
<h1>wysiwygText styles</h1>
<div class="wysiwygText">
    <h1>Header 1</h1>
    <h2>Header 2</h2>
    <h3>Header 3</h3>
    <h4>Header 4</h4>
    <h5>Header 5</h5>
    <h6>Header 6</h6>
    <p>Lorem ipsum dolor sit amet, <a href="#">link</a> consectetur adipiscing elit. Pellentesque ornare aliquam ultrices. Praesent suscipit ultricies egestas. Vestibulum rutrum risus justo, ac blandit massa pulvinar tempor.</p>
    <p>Duis mollis massa aliquam pretium vehicula. Praesent eget cursus lectus. Aliquam id lectus at tellus fermentum tristique quis non turpis. Nulla facilisi. Integer iaculis volutpat ligula at egestas. Ut imperdiet mauris adipiscing massa mattis, nec condimentum eros luctus. Ut eu justo molestie, posuere sem ac, porta est. Nullam malesuada diam nec metus faucibus laoreet. Ut adipiscing condimentum diam, ut placerat augue lobortis et. Phasellus in magna non dui mollis ultricies nec a tortor.</p>
</div>
<hr>
<h1>flashMessages module</h1>
<% include 'partials/flashMessage', type: 'success', message: 'This is a success message.' %>
<% include 'partials/flashMessage', type: 'alert', message: 'This is an alert message.' %>
<% include 'partials/flashMessage', type: 'info', message: 'This is an info message.' %>
<hr>
<h1>btn module</h1>
<button class="btn">Tis is a button tag button ŐŐ</button>
<a class="btn btn--thin" href="#">This is a href button ŐŐ</a>
<hr>
<h1>xxxx</h1>
